@using System.Collections
@model List<Practice.Models.Card>
@*<a href="@Model.Link">
    <p>@Model.Title <img src="@Model.TitleLogo"/></p>
    <img src="@Model.Image"/>
</a>*@
@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-4 col-sm-4 img-box">
        <a href="@item.Link">
            <ul class="for-desktop">
                <li>
                    <p class="card_title">@item.Title <span><img src="@item.TitleLogo" /></span> </p>
                
                </li>
            </ul>
            <div class="sub-image">
                <img  src="@item.Image" class="for-desk-img">
                <img  src="@item.Image" class="for-ipad">
            </div>
        </a>
    </div>
}


<style>
    .img-box{
        height: 320px;
        width: 342px;
        background: #fff;
        border-radius: 10px;
        margin-right: 60px;
        cursor: pointer;
    }
    .img-box:hover{
        background: linear-gradient(#d7271f 0%, #c1183e 100%);
    }
    .img-box:hover.img-box ul li{
        color: #fff;
    }
    .img-box:last-child{
        margin-right: 0px;
    }
    .img-box ul li{
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
        text-align: left;
        /*width: 95%;*/
        font-family: 'houschka_headmedium';
        color: #d9291e;
        margin: 15px;
    }
    .card_title {
        text-decoration: none;
    }

    .for-desktop {
        display: block;
    }
    .for-mobile{
        display: none;
    }
    .for-ipad{
        display: none;
    }
</style>